[Unit]
Description=markov chain dr bronner twitter bot
After=network.target
StartLimitIntervalSec=0
StartLimitAction=reboot

[Service]
Type=simple
Restart=always
Restart-sec=1
User=markovbot
# set to project root directory
WorkingDirectory=/path/to/bronnerbot/
# be sure to exec with venv python
ExecStart=./venv/bin/python3 ./bronnerbot/bot.py

[Install]
WantedBy=multi-user.target
